/*input*/
/* line 3, ../scss/login.scss */
input[type=text], input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* line 15, ../scss/login.scss */
.btn {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin: 50px auto 50px auto;
}

/* line 27, ../scss/login.scss */
.btn:hover {
  background-color: #45a049;
}

/* line 31, ../scss/login.scss */
.form-table {
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}

/* line 41, ../scss/login.scss */
p, h1 {
  text-align: center;
  margin-bottom: 50px;
}
