/*
 - Alle Imports die von allen anderen Styles benoetigt werden
 - Body, Footer, Header/Navigation, Styles die in allen Seiten benoetigt
 */

@import "colors";
@import "common";
@import "mixIns";
@import "navigation";

body
{
  background-color: $main-color;
  font-family: $font-family;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

/*
 Footer Style
 */
.sb-footer
{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  padding: .5rem 1rem;
  background-color: $second-color;
  color: $footer-text-color !important;
}

/*
 Links die im Dokument im Hintergrund stehen - z.B. Impressum
 */
.sb-link-muted
{
  color: $link-muted-text-color !important;
}

.form-row{
  margin: 0; //reset Form-row Margin - no -5px
}