/*
 Farbvariablen
 */

/*
Hauptfarben Kombination
 */
$main-color: orange;
$second-color: grey;

$error: red;
$weak: yellow;
$moderate: lightgreen;
$strong: green;

$feedback: red;

$input-border-color: #ccc;
$login-submit-color: white;

/*
Spezifische Style Farben
 */
$link-muted-text-color: #363636;

$navbar-dropdown-background-color: $second-color;
$navbar-dropdown-hover-color: darkgrey;
$navbar-dropdown-font-color: white;
$navbar-background-color: #343a40;

$footer-text-color: #363636;

