/*
 Farbvariablen
 */

/*
Hauptfarben Kombination
 */
$main-color: rgb(7, 103, 118);
$second-color: grey;
$third-color: rgb(230,239,241);
$fourth-color: #363636;
$fifth-color: white;

/*
Strength Indicator
 */
$error: red;
$weak: orange;
$moderate: yellow;
$strong: green;

/*
Feedback
 */
$feedback: red;

/*
Button
 */

$info-button: orange;

/*
Spezifische Style Farben
 */
$link-muted-text-color: $fourth-color;

$navbar-dropdown-background-color: $second-color;
$navbar-dropdown-hover-color: darkgrey;
$navbar-dropdown-font-color: white;
$navbar-background-color: #343a40;

$footer-text-color: #363636;




