
/*input*/


input[type=text],input[type=password], select  {
  width: 100%;
  padding: 12px 20px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;

}



div.loginForm {
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  width: 50%;
}

p, h1 {
  text-align:center;
  margin-bottom: 50px;
}

label.feedback
{
  font-family: "Open Sans", sans-serif, bold;
  color: red;

}



.passwordStrength {
  width:250px;
  float:left;
}

.pwFeedback {
  margin:$margin;
  font-size:11px;
  font-weight:600;

  &.weak
  {
    .weak{
      display: inherit;
      color: red;
    }
    .strong, .moderate
    {
      display: none;
    }
  }

  &.moderate
  {
    .moderate{
      display: inherit;
      color: yellow;
    }
    .strong, .weak
    {
      display: none;
    }
  }

  &.strong
  {
    .strong{
      display: inherit;
      color: green;
    }
    .moderate, .weak
    {
      display: none;
    }
  }
}

div.strengthIndicator {
  background: black;
  /*width: 200px;
  padding:5px;
  height: 13px;
  border:5px solid black;
  background:black;

  &::before {
    content: "";
    display: block;
    height: 100%;

    @include transition-property(width);
    @include transition-delay(0);
    @include transition-duration(250ms);
    @include transition-timing-function(linear);
  }*/
}

#passwordWrapper::after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.weak .strengthIndicator {
  &::before {
    width: 10%;
    background-color: red;
  }
}

.moderate .strengthIndicator {
  &::before {
    width: 60%;
    background-color: yellow;
  }
}

.strong .strengthIndicator {
  &::before {
    width: 100%;
    background-color: green;
  }
}

.pwFeedback.weak, .pwFeedback.moderate, .pwFeedback.strong {
  display: none;
}

.weak .pwFeedback.weak {
  display: block;
}

.moderate .pwFeedback.moderate {
  display: block;
}

.strong .pwFeedback.strong {
  display: block;
}