/*
 Anpassungen fuer die Navigation
 */

$navbar-dropdown-padding: .25em 3.5em .25em 2.0em;
$navbar-mobile-login-padding: 7px 12px 7px 0px;

/*
 Anpassung fuer Dropdown mit Profil-Icon
*/
.sb-profile-dropdown-menu
{
  left: auto;
  right: 0;
  background-color: $navbar-dropdown-background-color;

  .dropdown-item
  {
    &:hover{
      background-color: $navbar-dropdown-hover-color;
    }
    color: $navbar-dropdown-font-color;
    padding: $navbar-dropdown-padding;
  }
}

.sb-navbar
{
  background-color: $navbar-background-color!important;

  @include breakpoint_Max($desktop)
  {
    h1
    {
      //h1 ist fuer Smartphones zu gross
      font-size: 130%;
    }
  }
}

.sb-nav-brand
{
  display: unset;

  @include breakpoint_Min($desktop)
  {
    display:none !important;
  }
}

.sb-navbar-transparent
{
  @include breakpoint_Min($desktop)
  {
    background-color: transparent !important;
  }
}

/*
 Mobile Ansicht hat ein eigenes LogIn Icon, Padding wird an Menu angepasst, dass eingeloggt dann angezeigt wird (huepft dann nicht rum)
 */
#mobile-login{
  padding: $navbar-mobile-login-padding;
}

.navbar-toggler
{
  //kein Rand benoetigt da Profile-Icon reicht
  border: none;
}