.sb-teilnehmer-titel,
.sb-teilnehmer-vorname,
.sb-teilnehmer-nachname
{
  margin-bottom: .5em;
}


.sb-no-style-button
{
  color: inherit;
  padding: 0;
  margin-bottom: .5em;

  &:hover
  {
   color: inherit;
  }
}