div.group
{
  background-color:hsla(9, 100%, 64%, 0.5);
  float:left;
  width: 50%;
  border-radius: 5px;
  padding: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

h3 {
  text-align:center;
}