@import "base";



div.description
{
  background-color: white;
  text-align: center;
  float:left;
  height: auto;
  width: 90%;
  bottom: 20px;




  @include breakpoint_Min($desktop) {

    bottom: 50px;

    width: 90%;
    margin: 10px;
    padding:10px;
  }

}


.withbg {
  width: 100%;
  min-height: 100%;
  background-image: url('../images/hintergrund.jpg');
  background-repeat: repeat;
  background-position: bottom center;
  background-size: 100%;

}

html {
  width:100%;
  height: 100%;
}

img
{

  width: 100%;


}

.logo {
  height: 200px;
  font-size: 40pt;
  margin-top: 20px;
  float: left;
  bottom:initial;
  text-align: center;
  color: white;

  @include breakpoint_Min($desktop)
  {
      font-size: 70pt;
  }
}

.center {
  margin: 20%;

}