@import "login_reg";

body{
  background-color: rgb(7,103,118);
}

#h1-login{
  padding-top: 60px;

}

.background-login{
  background-color: white;
  opacity: 0.9;
  padding-bottom: 20px;
  padding-right: 20px;
  box-shadow:  0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);

  @include breakpoint_Max($desktop) {
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.btn{
  background-color: #363636;
  font-weight: bold;
  font-size: 16px;
  border-radius: 20px;
}

label{
  font-weight: bold;
}