@import "login_reg";

div.small {
  width: 50%;
  float: left;
  padding: 5px;


}

div.big {
  width: 100%;
  float: left;
  padding: 5px;

}

div.placeholder
{
  background: white;
  height: 40px;

}




