<IfModule mod_rewrite.c>
  RewriteEngine On

  #Docker Images has this deactivated, it needs this to negotiate file when using /api/something
  AddType application/x-httpd-php .php

  #adapt this following line to your path if necessary
  RewriteBase /

  ##
  # Change the RewriteBase if your project is in a subdirectoy and
  # the rewrite rules are not working properly. Usage examples:

  RewriteRule ^/?api/(.*)$ api.php [L] #adapt this line to your path if necessary

  RewriteCond %{REQUEST_FILENAME} !\.(htm|php|js|css|map|htc|png|gif|jpe?g|ico|xml|csv|txt|swf|flv|mp4|webm|ogv|mp3|ogg|oga|eot|otf|tt[cf]|woff2?|svgz?|pdf|gz)$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule .* index.php [L] #adapt this line to your path if necessary

</IfModule>